{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="UTF-8">

{% block title %}Relatório de Votação{% endblock %}

{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">Opções de Filtro</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class='input-group date' id='datepicker1'>
                        <input type='text' class="form-control altera" placeholder="Data Início" data-live-search="true"
                            data-width="50%" id="id_filtro_data_inicio" name="id_filtro_data_inicio" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar dateinput"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class='input-group date' id='datepicker2'>
                        <input type='text' class="form-control" placeholder="Data Fim" data-live-search="true"
                            data-width="50%" id="id_filtro_data_fim" name="id_filtro_data_fim" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar dateinput"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Reuniões</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="treunioes" class="table table-striped table-hover table-bordered fonteTable" width="100%"
                    cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<form method="POST" id="secureFormPrint" action="/admin/relatorio/votacao/imprime/" target="relatorio_votacao">
    {% csrf_token %}
    <input type="hidden" name="pac_id" id="pac_id">
</form>

<form method="POST" id="secureFormJSON" action="/admin/relatorio/votacao/json/" target="json_votacao">
    {% csrf_token %}
    <input type="hidden" name="pac_id" id="pac_id">
</form>

{% endblock %}


{% block extra_javascript %}

<script>

    var tableReunioes;

    $(document).ready(function () {

        $('#datepicker1').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            todayHighlight: true,
            clearBtn: false,
            autoclose: true,
            orientation: "bottom left",
        });

        $('#datepicker2').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            todayHighlight: true,
            clearBtn: false,
            autoclose: true,
            orientation: "bottom left",
        });

        $.fn.dataTable.moment('DD/MM/YYYY');

        tableReunioes = $('#treunioes').DataTable({

            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            select: {
                style: 'single'
            },
            initComplete: function (settings, json) {
                atualizaReunioes();
            },
            responsive: true,
            "order": [[3, "desc"]],
            "columns": [
                {
                    title: "pac_id",
                    data: 'pac_id'
                },
                {
                    title: "Número",
                    data: 'rec_numero',
                },
                {
                    title: "Comissão",
                    data: 'con_desc',
                },
                {
                    title: "Data",
                    data: 'rec_data',
                },
                {
                    title: "Tipo",
                    data: 'rec_tipo_reuniao',
                },

            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [2],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [3],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [4],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [5],
                    "data": null,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        /*
                        return "<a href='javascript:geraRelatorio(" + full.pac_id + ",\"" + full.rec_numero  + "\",\"" + full.rec_tipo_reuniao + "\",\"" + full.con_desc + "\");'><span id='relatorio' class='badge progress-bar-danger'>Relatório</span></a>";
                        */
                        return "<a href='javascript:geraRelatorio(" + full.pac_id + ");' data-toggle='tooltip' title='Gera relatório'><svg class='svg-inline--fa fa-print fa-w-16' aria-hidden='true' data-prefix='fas' data-icon='print' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-120 -160 700 700' data-fa-i2svg=''><path fill='currentColor' d='M448 192V77.25c0-8.49-3.37-16.62-9.37-22.63L393.37 9.37c-6-6-14.14-9.37-22.63-9.37H96C78.33 0 64 14.33 64 32v160c-35.35 0-64 28.65-64 64v112c0 8.84 7.16 16 16 16h48v96c0 17.67 14.33 32 32 32h320c17.67 0 32-14.33 32-32v-96h48c8.84 0 16-7.16 16-16V256c0-35.35-28.65-64-64-64zm-64 256H128v-96h256v96zm0-224H128V64h192v48c0 8.84 7.16 16 16 16h48v96zm48 72c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z'></path></svg></a>";
                    },
                    "className": "dt-center"
                },
                {
                    "targets": [6],
                    "data": null,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        /*
                        return "<a href='javascript:geraRelatorio(" + full.pac_id + ",\"" + full.rec_numero  + "\",\"" + full.rec_tipo_reuniao + "\",\"" + full.con_desc + "\");'><span id='relatorio' class='badge progress-bar-danger'>Relatório</span></a>";
                        */
                        return "<a data-toggle='tooltip' title='Gera JSON' href='javascript:geraJSON(" + full.pac_id + ");'><i class='fas fa-file-download'></i></a>";
                    },
                    "className": "dt-center"
                },

            ],
            "language": {
                "info": "Páginas _PAGE_ de _PAGES_",
                "emptyTable": "Não há reuniões agendadas para a pesquisa",
                "decimal": ",",
                "thousands": ".",
                "oPaginate": {
                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                }
            },
            "deferRender": true,
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "ajax": {
                "url": "/api/consome_reuniao_comissao",
                "dataSrc": "",
            },
            "sDom": '<"top"i>rt<"bottom"lp><"clear">',
        });

    });


    $('#id_filtro_data_inicio').change(function () { atualizaReunioes(); });

    $('#id_filtro_data_fim').change(function () { atualizaReunioes(); });

    $('.altera').val(moment().format('DD/MM/YYYY'));

    function atualizaReunioes() {
        inicio = $('#id_filtro_data_inicio').val();
        fim = $('#id_filtro_data_fim').val();
        inicio_clean = inicio.split('/').join('')
        fim_clean = fim.split('/').join('')
        if (fim_clean == '')
            fim_clean = '00000000'

        url = "/api/consome_reuniao_comissao_range/" + inicio_clean + "/" + fim_clean + "/";
        tableReunioes.ajax.url(url).load();
    }

    function geraRelatorio(pac_id) {
        $('#pac_id').val(pac_id);
        $('#secureFormPrint').submit();
    }

    function geraJSON(pac_id) {
        $('#pac_id').val(pac_id);
        $('#secureFormJSON').submit();
    }

</script>

{% endblock %}