{% extends "easy_pdf/base.html" %}
{% load votacao_extras %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 1.5cm;
            margin-right: 1.5cm;
            margin-top: 4cm;
            margin-bottom: 1cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.5cm;
            }
        }
    </style>
{% endblock %}


{% block extra_style %}
    <style type="text/css">
    	.header h1 {
    		padding-left: 60px;
    		padding-top:-55px;
            font-size: 24px;
            font-weight: normal;
        }
        .header h2 {
            font-size: 18px;
            font-weight: normal;
        }
        table.bordered {
            border-top: 0.1pt solid #999999;
            border-bottom: 0.1pt solid #999999;
        }
        table.reuniao {
            border-top: 0.1pt solid #999999;
        }
        tr.reuniao {
            padding-top: 5px;
        }
        tr.proposicao {
        	padding-top: 5px;
        }
        tr, td, th { border: none; }
        .logo { margin-bottom: 20px;}
    </style>
{% endblock %} 

{% block page_header %}
	<div id="page-header">
        <div class="header">
        	<img src="{{''|brasao}}" height="40" style="margin-top:5px;margin-right:130px;"></img>
        	<h1>Câmara Municipal de Curitiba</h1>
            <h2 align="center">Relatório de Votação</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        <table class="bordered">
    	    <tr class="reuniao"><td><h1>{{ votacoes.ini_nome }}</h1></td></tr>
            <tr><td><h3>Número da Reunião: {{ votacoes.rec_numero }}</h3></td></tr>
            <tr><td><h3>Reunião: {{ votacoes.rec_tipo_reuniao }}</h3></td></tr>
            <tr><td><h3>Data: {{ votacoes.rec_data }}</h3></td></tr>
        </table>
    	{% if votacoes %}
    		{% for votacao in votacoes.VotacaoJSONs %}
                <table class="reuniao">
                    <tr class="proposicao"><td colspan="7"><h1>{{ votacao.codigo_proposicao }}</h1></td></tr>
                    <tr>
                        <td><h2>Iniciativa</h2></td>
                        <td colspan="6"><h2>{{ votacao.iniciativa }}</h2></td>
                    </tr>
                    <tr>
                        <td><h2>Relator</h2></td>
                        <td colspan="6"><h2>{{ votacao.relator }}</h2></td>
                    </tr>
                </table>
                <table class="reuniao">
                    <tr class="reuniao">
                        <td colspan="7">Como votaram os vereadores</td>
                    </tr>
                    {% for voto in votacao.VotoJSONs %}
                        <tr>
                            <td colspan="6">{{ voto.vereador }}</td>
                            <td>{{ voto.voto|voto_extenso }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <table class="reuniao">
                    <tr class="reuniao">
                        <td colspan="6">TOTAL VOTOS FAVORÁVEL</td>
                        <td>{{ votacao.TotalJSONs.0.favoravel }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">TOTAL VOTOS FAVORÁVEL COM RESTRIÇÕES</td>
                        <td>{{ votacao.TotalJSONs.0.favoravel_restricoes }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">TOTAL VOTOS CONTRÁRIO</td>
                        <td>{{ votacao.TotalJSONs.0.contrario }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">TOTAL VOTOS VISTAS</td>
                        <td>{{ votacao.TotalJSONs.0.vista }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">TOTAL VOTOS ABSTENÇÃO</td>
                        <td>{{ votacao.TotalJSONs.0.abstencao }}</td>
                    </tr>
                </table>
            {% endfor %}
    	{% else %}
    		<h2 align="center">NENHUMA VOTAÇÃO COMPUTADA</h2>
    	{% endif %}
    </div>
{% endblock %}
