DEBUG=True
TEMPLATE_DEBUG=True
DJANGO_DEBUG=True

SECRET_KEY_LOCAL=SECRETKEY
SECRET_KEY_PROD=SECRETKEY

#DATABASE_URL=sqlite:///votacao.db
DATABASE_URL=psql://postgres:postgres@localhost:15432/votacao
#DATABASE_TEST_URL=sqlite:///votacao-votacao.db

LDAP_AUTH_URL=
LDAP_BIND_USERNAME=
LDAP_BIND_PASSWORD=

LDAP_AUTH_SEARCH_BASE=
LDAP_AUTH_BIND_BASE=
LDAP_AUTH_OBJECT_CLASS=inetOrgPerson

LDAP_AUTH_USER_FIELDS_USERNAME=uid
LDAP_AUTH_USER_FIELDS_FIRST_NAME=givenName
LDAP_AUTH_USER_FIELDS_LAST_NAME=sn
LDAP_AUTH_USER_FIELDS_EMAIL=mail
LDAP_AUTH_USER_FIELDS_PESSOA=employeeNumber
LDAP_AUTH_USER_FIELDS_LOTADO=departmentNumber

JSON_AUTH_TOKEN=123456

MSCMC_SERVER=
