# Votação
DEBUG: "False"
TEMPLATE_DEBUG: "False"
DJANGO_DEBUG: "False"
MSCMC_SERVER: "http://mscmc"
LDAP_AUTH_URL: "ldap://ldap"
DATABASE_URL: "postgres://postgres:postgres@db-postgres:5432/votacao"
SECRET_KEY_PROD: "changeme"
LDAP_BIND_USERNAME: "bind"
LDAP_BIND_PASSWORD: "pass"
LDAP_AUTH_SEARCH_BASE: "ou=users,dc=example,dc=com"
LDAP_AUTH_BIND_BASE: "dc=example,dc=com"
LDAP_AUTH_OBJECT_CLASS: "inetOrgPerson"
LDAP_AUTH_USER_FIELDS_USERNAME: "uid"
LDAP_AUTH_USER_FIELDS_FIRST_NAME: "givenName"
LDAP_AUTH_USER_FIELDS_LAST_NAME: "sn"
LDAP_AUTH_USER_FIELDS_EMAIL: "mail"
LDAP_AUTH_USER_FIELDS_CPF: "employeeNumber"
LDAP_AUTH_USER_FIELDS_LOTADO: "departmentNumber"

# MSCMC
DATABASE_URL: ""postgres://postgres:postgres@db-postgres:5432/mscmc""
SECRET_KEY_PROD: "changeme"
