# Votação
votacao_debug: "False"
votacao_template_debug: "False"
votacao_django_debug: "False"
votacao_mscmc_server: "http://mscmc"
votacao_database_url: "postgres://postgres:postgres@db-postgres:5432/votacao"
votacao_secret_key_prod: "changeme"
votacao_ldap_url: "ldap://ldap"
votacao_ldap_bind_user: "bind"
votacao_ldap_bind_pass: "pass"
votacao_ldap_search_base: "ou=users,dc=example,dc=com"
votacao_ldap_bind_base: "dc=example,dc=com"
votacao_ldap_object_class: "inetOrgPerson"
votacao_ldap_field_username: "uid"
votacao_ldap_field_first_name: "givenName"
votacao_ldap_field_last_name: "sn"
votacao_ldap_field_email: "mail"
votacao_ldap_field_cpf: "employeeNumber"
votacao_ldap_field_lotado: "departmentNumber"

# MSCMC
mscmc_database_url: "postgres://postgres:postgres@db-postgres:5432/mscmc"
mscmc_secret_key_prod: "changeme"
