{% extends "base_vereador.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}


<div class="panel panel-primary">
    <input type="hidden" name="numero_projeto" id="numero_projeto"/>
    <input type="hidden" name="votacao" id="votacao"/>
    <input type="hidden" name="tipo_voto" id="tipo_voto"/>
    <input type="hidden" name="id_texto" id="id_texto"/>
    <div id="projeto" class="panel-heading">Tela de votação de projetos</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <h2 id="iniciativa"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="ementa"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="conclusao"></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text-center" id="botoes">
    <h1>Aguardando liberação para votação</h1>
</div>

<!-- Modal -->
<div class="modal fade" id="votoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Confirmação</h1>
      </div>
      <div class="modal-body">
        <h2><b>Por favor, confirme o seu voto <span id="desc_tipo_voto"></span></b></h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-lg" id="confirmaVotacao">Confirma</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Restrições-->
<div class="modal fade" id="votoModalRestricoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Confirmação</h1>
      </div>
      <div class="modal-body">
        <h2><b>Por favor, confirme o seu voto <span id="desc_tipo_voto"></span></b></h2>
        <textarea class="form-control col-xs-12" rows="10" id="restricao"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-lg" id="confirmaVotacao">Confirma</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Contrário-->
<div class="modal fade" id="votoModalContrario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Confirmação</h1>
      </div>
      <div class="modal-body">
        <h2><b>Por favor, confirme o seu voto <span id="desc_tipo_voto"></span></b></h2>
        <div id="div_combo_contrario"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-lg" id="confirmaVotacao">Confirma</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}    


{% block extra_javascript %}

    <script>

        $(document).ready(function() {

            atualiza_votacao();

            var tim = setInterval(function() {
                atualiza_votacao();                
            }, 10000);

            $("button#confirmaVotacao").click(function() {
                tipo_voto = $('#tipo_voto').val();
                votacao = $('#votacao').val();

                if (tipo_voto == 'R') {
                    restricao = $('#restricao').val();
                    request_url = "/api/vota_restricao/" + tipo_voto + "/" + restricao + "/";
                }
                else if (tipo_voto == 'C') {
                    id_texto = $('#combo_contrario option:selected').val();
                    request_url = "/api/vota_contrario/" + tipo_voto + "/" + id_texto + "/";
                }
                else {
                    request_url = "/api/vota/" + tipo_voto + "/";
                }

                $.ajax({
                    url: request_url,
                    type: 'POST',
                    data: { csrfmiddlewaretoken: '{{csrf_token}}', votacao: votacao },
                    accepts: 'application/json',
                    dataType: 'json',
                    success: function(result){
                        montaBotoes(true, result.tipo_voto);
                    },
                    error: function(xhr, status, error) {
                        console.log(status);
                        console.log(error);
                        console.log(xhr);
                    }
                })

                $("#votoModal").modal('hide');
                $("#votoModalRestricoes").modal('hide');
                $("#votoModalContrario").modal('hide');
            })
        });

        function atualiza_votacao() {
            request_url = '/api/retorna_aberto/';

            $.ajax({
                url: request_url,
                type: 'GET',
                accepts: 'application/json',
                dataType: 'json',
                success: function(result){
                    //console.log(result);
                    if (result.length > 0) {
                        limpaCampos();
                        carregaCampos(result);
                        montaBotoes(result[0].votado, result[0].tipo_voto);
                        verifica_contrario(result[0].codigo_proposicao);
                    }
                    else {
                        limpaCampos();
                        $('#botoes').empty();
                        $('#botoes').append('<h1>Aguardando liberação para votação</h1>');
                    }
                },
                error: function(xhr, status, error) {
                    console.log('Problema ao carregar informações do projeto.');
                }
            })
        }

        function limpaCampos() {
            $('#projeto').empty();
            $('#iniciativa').empty();
            $('#ementa').empty();
            $('#conclusao').empty();
        }

        function carregaCampos(result) {
            $('#numero_projeto').val(result[0].codigo_proposicao);
            $('#votacao').val(result[0].id);
            $('#projeto').append('<h1>' + result[0].codigo_proposicao + '</h1>');
            $('#iniciativa').append('Iniciativa: ' + result[0].iniciativa);
            $('#ementa').append(result[0].sumula);
            $('#conclusao').append('Conclusão: ' + result[0].conclusao_relator);
        }

        function montaBotoes(status_voto, tipo_voto) {
            $('#botoes').empty();
            if (!status_voto) {
                $('#botoes').append('<button type="button" class="btn btn-success btn-lg botao" onclick="javascript:votaFavoravel();"> FAVORÁVEL </button>');
                $('#botoes').append('<button type="button" class="btn btn-warning btn-lg botao" onclick="javascript:votaFavoravelRestricoes();"> FAVORÁVEL COM RESTRIÇÕES </button>');
                $('#botoes').append('<button type="button" id="bt_contrario" class="btn btn-danger btn-lg botao" onclick="javascript:votaContrario();"> CONTRÁRIO </button>');
                $('#botoes').append('<br/>');
                $('#botoes').append('<br/>');
                $('#botoes').append('<button type="button" class="btn btn-primary btn-lg botao" onclick="javascript:votaAbstencao();"> ABSTENÇÃO </button>');
                $('#botoes').append('<button type="button" class="btn btn-info btn-lg botao" onclick="javascript:votaVista();"> VISTA </button>');
            }
            else {
                $('#botoes').append('<h1>Voto realizado com sucesso.</h1><br/>');
                $('#botoes').append('<h2>Vereador {{ user.get_full_name }} votou: </h2>' + resultadoVoto(tipo_voto));
            }
        }

        function votaFavoravel() {
            $('#tipo_voto').val("F");
            modal = $('#votoModal').modal();
            modal.find('#desc_tipo_voto').removeClass();
            modal.find('#desc_tipo_voto').addClass("text-success");
            modal.find('#desc_tipo_voto').html("FAVORÁVEL");
        }

        function votaFavoravelRestricoes() {
            $('#tipo_voto').val("R");
            modal = $('#votoModalRestricoes').modal();
            modal.find('#desc_tipo_voto').removeClass();
            modal.find('#desc_tipo_voto').addClass("text-warning");
            modal.find('#desc_tipo_voto').html("FAVORÁVEL COM RESTRIÇÕES");
        }

        function votaContrario() {
            $('#tipo_voto').val("C");
            modal = $('#votoModalContrario').modal();
            modal.find('#desc_tipo_voto').removeClass();
            modal.find('#desc_tipo_voto').addClass("text-danger");
            modal.find('#desc_tipo_voto').html("CONTRÁRIO");
        }

        function votaAbstencao() {
            $('#tipo_voto').val("A");
            modal = $('#votoModal').modal();
            modal.find('#desc_tipo_voto').removeClass();
            modal.find('#desc_tipo_voto').addClass("text-primary");
            modal.find('#desc_tipo_voto').html("ABSTENÇÃO");
        }

        function votaVista() {
            $('#tipo_voto').val("V");
            modal = $('#votoModal').modal();
            modal.find('#desc_tipo_voto').removeClass();
            modal.find('#desc_tipo_voto').addClass("text-info");
            modal.find('#desc_tipo_voto').html("VISTA");
        }

        function resultadoVoto(tipo_voto) {
            if (tipo_voto == 'F')
                return '<h2 class="text-success">FAVORÁVEL</h2>';
            else if (tipo_voto == 'R')
                return '<h2 class="text-warning">FAVORÁVEL COM RESTRIÇÕES</h2>';
            else if (tipo_voto == 'C')
                return '<h2 class="text-danger">CONTRÁRIO</h2>';
            else if (tipo_voto == 'A')
                return '<h2 class="text-primary">ABSTENÇÃO</h2>';
            else if (tipo_voto == 'V')
                return '<h2 class="text-info">VISTA</h2>';
            else
                return '<h2 class="text-danger">ERRO</h2>'
        }

        function verifica_contrario(codigo_proposicao) {
            request_url = '/api/textos_conclusao/' + codigo_proposicao + '/';
            //console.log("VERIFICA CONTRARIO");
            $.ajax({
                url: request_url,
                type: 'GET',
                accepts: 'application/json',
                dataType: 'json',
                success: function(result){
                    //console.log(result);
                    if (result.length > 0) {
                        //console.log("HABILITAR BOTAO CONTRARIO");
                        $('#bt_contrario').attr("enabled","enabled");
                        toAppend = '<select id="combo_contrario" name="combo_contrario" class="selectpicker" data-width="50%">';
                        $.each(result, function(index, element) {
                            toAppend += '<option value="' + element.txt_id + '">' + element.vereador + ' - ' + element.tcp_nome + '</option>';
                        });
                        toAppend += '</select>';
                        //console.log(toAppend);
                        $('#div_combo_contrario').empty();
                        $('#div_combo_contrario').append(toAppend);
                        $('.selectpicker').selectpicker();
                    }
                    else {
                        //console.log("DESABILITAR BOTAO CONTRARIO");
                        $('#bt_contrario').attr("disabled","disabled");
                    }
                },
                error: function(xhr, status, error) {
                    console.log('Problema ao carregar informações do projeto.');
                }
            })
        }

    </script>

{% endblock %}