{% extends "base_painel.html" %}

{% block title %}<% comissao %>{% endblock %}

	{% block content %}

	<div class="panel">
		<div class="panel-body painel-votacao">
			<section v-if="errored">
				<p>Erro ao carregar informações da votação</p>
			</section>
			<section v-else>
				<div class="row">
					<div class="col-sm-8">
						<h4>Proposição :</h4>
					</div>
					<div class="col-sm-4" align="right">
						<h4>
							<% codigo_proposicao %>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<h4>Ementa :</h4>
					</div>
					<div class="col-sm-10" align="left">
						<h4>
							<% sumula %>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<h4>Iniciativa :</h4>
					</div>
					<div class="col-sm-3" align="right">
						<h4>
							<% iniciativa %>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<h4>Relator :</h4>
					</div>
					<div class="col-sm-3" align="right">
						<h4>
							<% relator %>
						</h4>
					</div>
					<div class="col-sm-3">
						<h4>Conclusão do Relator :</h4>
					</div>
					<div class="col-sm-3" align="right">
						<h4>
							<% conclusao %>
						</h4>
					</div>
				</div>
				<div class="row" v-if="mostra && !carregando">
					<div class="col-sm-12" align="center">
						<h3>Voto dos vereadores</h3>
					</div>
				</div>
				<div v-if="carregando">Carregando informações da votação...</div>
				<div v-else v-for="voto in votos">
					<div :class="classeVoto(voto.voto)">
						<div class="col-sm-6" v-html="voto.vereador"></div>
						<div class="col-sm-6" align="right">
							<% voto | votoExtenso %>
						</div>
					</div>
					<!-- TEST -->
					<!-- <div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 1</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 2</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 3</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 4</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 5</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 6</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 7</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 8</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 9</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 10</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div>
					<div :class="classeVoto('F')">
						<div class="col-sm-6">Vereador 11</div>
						<div class="col-sm-6" align="right">FAVORÁVEL</div>
					</div> -->
				</div>
				<br />
				<div class="row" v-if="mostra && !carregando">
					<div class="col-sm-12" align="center">
						<button type="button" class="btn btn-success btn-lg">Favorável <span class="badge">
								<% total_favoravel %>
							</span></button>
						<button type="button" class="btn btn-danger btn-lg">Contrário <span class="badge">
								<% total_contrario %>
							</span></button>
						<button type="button" class="btn btn-warning btn-lg">Favorável com restrições <span class="badge">
								<% total_favoravel_restricoes %>
							</span></button>
						<button type="button" class="btn btn-default btn-lg">Abstenção <span class="badge">
								<% total_abstencao %>
							</span></button>
						<button type="button" class="btn btn-info btn-lg">Vistas <span class="badge">
								<% total_vistas %>
							</span></button>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div :class="votacaoClasse(status_votacao)">
		<h3 align="center">
			<% status_votacao | votacaoStatus %>
		</h3>
	</div>

	{% endblock content %}

	{% block extra_javascript %}

	<!-- ####### RETIRAR ANTES DE PROD ####### -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.6/vue.min.js"></script>
	<script type="text/javascript">

		var app = new Vue({
			el: '#app',
			delimiters: ["<%", "%>"],
			data() {
				return {
					carregando: true,
					errored: false,
					status_votacao: null,
					codigo_proposicao: null,
					sumula: null,
					votos: null,
					totais: null,
					total_favoravel: null,
					total_favoravel_restricoes: null,
					total_contrario: null,
					total_abstencao: null,
					total_vistas: null,
					info: null,
					comissao: null,
					iniciativa: null,
					conclusao: null,
					relator: null,
					mostra: true,
				}
			},
			filters: {
				votoExtenso(voto) {
					if (voto.voto === 'F')
						return "FAVORÁVEL";
					else if (voto.voto === 'R')
						return "FAVORÁVEL COM RESTRIÇÕES";
					else if (voto.voto === 'C')
						return "CONTRÁRIO - " + voto.desc_contrario;
					else if (voto.voto === 'A')
						return "ABSTENÇÃO";
					else if (voto.voto === 'V')
						return "VISTAS";
					else
						return "";
				},
				votacaoStatus(status) {
					if (status === 'F')
						return 'Aguardando início da votação';
					else if (status === 'V')
						return 'Votação encerrada';
					else if (status === 'A')
						return 'Votação em andamento';
				},
			},
			methods: {
				votacaoClasse(status) {
					if (status === 'F')
						return 'alert alert-votacao-aguardando';
					else if (status === 'V')
						return 'alert alert-votacao-encerrada';
					else if (status === 'A')
						return 'alert alert-votacao-aberta';
				},
				classeVoto(voto) {
					if (voto == 'F')
						return "row voto alert-success";
					else if (voto == 'R')
						return "row voto alert-warning";
					else if (voto == 'C')
						return "row voto alert-danger";
					else if (voto == 'A')
						return "row voto alert-abstencao";
					else if (voto == 'V')
						return "row voto alert-info";
					else
						return "row";
				},
				formataTotais() {
					if (this.totais === null || this.totais === undefined) {
						this.total_favoravel = '0';
						this.total_favoravel_restricoes = '0';
						this.total_contrario = '0';
						this.total_abstencao = '0';
						this.total_vistas = '0';
						this.mostra = false;
					}
					else {
						this.total_favoravel = this.totais.favoravel;
						this.total_favoravel_restricoes = this.totais.favoravel_restricoes;
						this.total_contrario = this.totais.contrario;
						this.total_abstencao = this.totais.abstencao;
						this.total_vistas = this.totais.vista;
						this.mostra = true;
					}
				},
				carregaDados() {
					axios
						.get('/api/monta_painel/{{ pac_id }}/{{ par_id }}/{{ codigo_projeto }}/')
						.then(response => (
							this.status_votacao = response.data.status,
							this.codigo_proposicao = response.data.codigo_proposicao,
							this.sumula = response.data.sumula,
							this.votos = response.data.VotoJSONs,
							this.totais = response.data.TotalJSONs[0],
							this.comissao = response.data.comissao,
							this.info = response.data,
							this.iniciativa = response.data.iniciativa,
							this.relator = response.data.relator,
							this.conclusao = response.data.conclusao,
							this.formataTotais()
						))
						.catch(error => {
							console.log(error),
								this.errored = true
						})
						.finally(() => this.carregando = false)

					window.scrollTo(0, 0);
				},

			},
			mounted() {
				this.carregaDados();
				this.timer = setInterval(this.carregaDados, 10000)
			}
		})

	</script>

	{% endblock %}