.botao {
    display: inline-block;
    width: 320px;
    height: 80px;
    overflow: hidden;
    margin: 20px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.voto {
  padding: 8px;
  margin-bottom: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-abstencao {
  color: #737373;
  background-color: #d9d9d9;
  border-color: #e6e6e6;
}

.painel-votacao {
	border: 1px solid transparent;
	background-color: #f3f3f3;
	border-radius: 10px;
  	border-color: #d3d3d3;
}