<!doctype html>
<html lang="pt-BR">
    <head>
        {% load pipeline %}
        {% stylesheet 'master' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>

    {% javascript 'master' %}

    <div id="app">
        <div class="container">
            
            <div class="starter-template">
                <cabecalho_compacto titulo="Sistema de Votação" vereador="{{ user.username }}" link="/autentica/sair"></cabecalho_compacto>

                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="alert alert-success">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                    {% if 'error' in message.tags %}
                        <div class="alert alert-danger">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}

                {% block content %}{% endblock content %}

            </div>
        </div>
    </div>

       
        <script>
            $(document).ready( function() {
                $('.dropdown-toggle').dropdown();
            });

            $(".nav a").on("click", function(){
                $(".nav").find(".active").removeClass("active");
                $(this).parent().addClass("active");
            });

            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 

        </script>
    
    {% block extra_javascript %}

    {% endblock %}
  </body>
</html>

