<!doctype html>
<html lang="pt-BR">
    <head>
        {% load pipeline %}
        {% load votacao_extras %}

        {% stylesheet 'master' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>

    <div id="app">
        <div class="container">
            
            <div class="starter-template">
                <div id="componentes">
                    <cabecalho titulo="Painel de Votação" urljson="{% settings_value 'MSCMC_SERVER' %}/api/misc/connection/"></cabecalho>
                </div>

                {% block content %}{% endblock content %}

            </div>
        </div>
    </div>

    {% javascript 'master' %}

    {% block extra_javascript %}

    {% endblock %}

  </body>
</html>

